<footer class="footer">
    <h2 class="footer-title">CONTACT US</h2>
    <p class="footer-text">Have a question or comment about our app? Get in touch with us using the contact form below
        and our team will respond
        shortly.</p>
    <address>
        <ul>
            <li class="address">+xx-xxxx-xxxx-xx</li>
            <li class="address">goIteens@gmail.com</li>
        </ul>
    </address>
    <form action="">
        <input type="text" placeholder="Name">
        <input type="text" placeholder="Email">
        <textarea name="" id="" cols="30" rows="10" placeholder="Message"></textarea>
    </form>
</footer>