<header class="header">
  <nav class="header-navigation">
    <a class="logo" href="./index.html">Mobileapp</a>
    <ul class="header-menu-list">
      <li class="header-menu-item">
        <a class="header-menu-link" href="./index.html">Home</a>
      </li>
      <li class="header-menu-item">
        <a class="header-menu-link" href="">Features</a>
      </li>
      <li class="header-menu-item">
        <a class="header-menu-link" href="">Team</a>
      </li>
      <li class="header-menu-item">
        <a class="header-menu-link" href="">Testimonials</a>
      </li>
      <li class="header-menu-item">
        <a class="header-menu-link" href="">Team</a>
      </li>
    </ul>
  </nav>
</header>
