<section class="review">
  <div class="review-container">
    <h2 class="review-second-title">WHAT OUR COSTUMER’S SAY</h2>
    <div class="costumers">
      <img class="first-costumer" alt="Jon Doe" width="181" />
      <div class="costumers-info">
        <h3 class="costumers-name">Jon Doe</h3>
        <p class="costumers-smth">Company Inc.</p>
        <p class="first-review">
          I've been using this app for a few weeks now and I have to say, I'm
          really impressed. It's so easy to use and the personalized
          recommendations are spot-on. Plus, the transactions are secure and the
          updates are always timely. I would definitely recommend this app to
          anyone looking for a better mobile experience
        </p>
      </div>
    </div>
  </div>
</section>
