.team {
  background-color: #fff;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.team-name {
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}
.text {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
}
